.wrap {
  border: 1px solid lightgray;
  margin: 100px 0px;
}

.name {
  width: 200px;
  margin-top: -15px;
  margin-left: 30px;
  background: white;
  text-align: center;
}

.box {
  padding: 5%;
}

.garis {
  margin: 20px 0px;
  background-color: lightgray;
  width: 100%;
}

.next {
  float: right;
  background: black;
  color: white;
  border: 1px solid lightgray;
  padding: 5px 20px;
}

.prev {
  float: left;
  background: black;
  color: white;
  border: 1px solid lightgray;
  padding: 5px 20px;
}

.table {
  float: left;
  width: 25%;
}

.delivery {
  padding: 20px 0px;
}

.label-delivery {
  float: left;
  width: 20%;
}

.payment {
  margin: 0px 15px 15px 192px;
}
