h1 {
  float: left;
  width: 10%;
}

ul.step,
ul.step li {
  margin: 0;
  padding: 0;
  display: flex;
  width: 90%;
  margin-top: 30px;
}
ul.step {
  counter-reset: num;
}
ul.step li {
  flex-direction: column;
  align-items: center;
  position: relative;
}
ul.step li::before {
  counter-increment: num;
  content: counter(num);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border: 1px solid lightgray;
  border-radius: 50%;
  background: white;
}
ul.step li ~ li::after {
  content: '';
  position: absolute;
  width: 100%;
  right: 50%;
  height: 2px;
  background-color: lightgray;
  top: calc(0.75em - 2px);
  z-index: -1;
}

ul.step li.active::before {
  background: #04497b;
  color: white;
}

ul.step .active ~ li::before,
ul.step .active ~ li::after {
  background: lightgray;
}

ul.step span {
  font-size: 14px;
  text-transform: capitalize;
}

/*  updated sample  */

ul.step li.completed::before {
  /* number and circle  */
  background: red;
  color: white;
}

ul.step li.completed span {
  /* text  */
  color: red;
}

ul.step li.completed + li::after {
  /* line after circle  */
  background: red;
}
ul.step li.completed::after {
  /* line before circle  */
  background: red;
}
